.img-border{
    border: 1px solid var(--cinza-bordas);
    border-radius: 10px;
    margin-right: 50px;
}

.item-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 95%;
    margin-top: 5px;
}

.-auto{
    margin: auto;
}

.-y-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.mg-preco{
    margin-right: 65px;
}

.mg-counter{
    margin-right: 5px;
    position: sticky;
}

span{
    font-family: var(--fonte-padrao);
    font-size: 20px;
}

#nome{
    font-size: 35px;
}

#valor{
    font-size: 30px;
}

#add-on{
    margin-bottom: 5px;
}