.contents-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.linha{
    margin: auto;
}

.ultimos-pedidos-container{
    height: 653px;
    width: 380px;
    background: none;
    border-right: 1px solid #8686866e;
}

.produtos-container{
    width: 1200px;
    height: 650px;
    margin-right: 165px;
    background: none;
    border: 3px solid var(--cinza-bordas);
    border-radius: 10px;
    overflow-y: scroll;
}

.search-input-container{
    margin-top: 50px;
    margin-left: 1300px;
    position: relative;
}