.container {
    margin-top: 250px;
    margin-bottom: 0px;
    position: relative;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


p.senhaText{
    margin-right: 35px;
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: bold;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}