.buttonbox button.btn-confirmarSenha{
    width: 240px;
    height: 45px;
    border: none;
    border-radius: 15px;
    font-family: var(--fonte-padrao);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.buttonbox button.btn-adicionarProduto{
    width: 250px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.buttonbox button.btn-confirmar{
    width: 600px;
    height: 55px;
    border-radius: 15px;
    border: none;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    text-align: center;
    cursor: pointer;
}

.buttonbox button.btn-voltar{
    width: 200px;
    height: 55px;
    border-radius: 15px;
    border: 3px solid;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    text-align: center;
    cursor: pointer;
}

.buttonbox button.btn-confirmarInfo{
    width: 650px;
    height: 55px;
    border-radius: 15px;
    border: none;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.buttonbox button.btn-voltarInfo{
    width: 650px;
    height: 55px;
    border-radius: 15px;
    border: none;
    font-family: var(--fonte-padrao);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.buttonbox button.btn-confirmarPedido{
    width: 700px;
    height: 45px;
    border-radius: 15px;
    border: none;
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.buttonbox button.btn-voltarPedido{
    width: 700px;
    height: 45px;
    border-radius: 15px;
    border: none;
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
