p{
    font-family: var(--fonte-padrao);
}

.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    width: 100%;
}

.texto-principal{
    width: 560px;
    font-size: 120px;
    font-weight: 900;
    font-family: var(--fonte-padrao);
}

.justify-between{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.column{
    position: relative;
}

.buttons{
    display: flex;
    gap: 10px;
}

.botao-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    letter-spacing: .025em;
}

.-tamanho{
    width: 200px;
    height: 50px;
}

.-bordas{
    border: none;
    border-radius: 45px;
}

.text-style{
    font-family: var(--fonte-padrao);
    font-size: 30px;
}

/* Segunda Parte */

.mg-auto{
    margin: auto;
}

.wd-fit{
    width: fit-content;
}

.subtitulo{
    width: 50%;
}

.py-5rem{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.py-1rem{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-container{
    display: grid;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.options-container{
    width: 75%;
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin: auto;
}

.option-card{
    width: 260px;
    height: 365px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.15),0 4px 6px -4px rgba(0,0,0,.15);;
}

.px-py{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.texto-cinza{
    color: #6b7280;
    font-size: 17px;
}

.mg-texto-card{
    margin: 0 0;
}

.imagem-e-botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagem-pd{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.pd-left{
    padding-left: 1.5rem;
}

.botao-box-card{
    width: 180px;
    height: 50px;
    font-size: 22px;
    font-family: var(--fonte-padrao);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    letter-spacing: .025em;
    border-radius: 5px;
    border: none;
}

/* Terceira Parte */

.-wd-team{
    width: 90%;
}

.person-card{
    width: 390px;
    min-height: 475px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.15),0 4px 6px -4px rgba(0,0,0,.15);;
}

.img-container{
    background-color: var(--cor-fundo);
    height: 250px;
}

.mg-github{
    margin-left: 30px;
}

.mg-left{
    margin-left: auto;
}