.rodape-container{
    margin-top: 20px;
    height: 250px;
    bottom: 0;
}

.rodape-titulo{
    font-family: var(--fonte-fuggles);
    font-size: 55px;
}

.max-w-footer{
    max-width: 1280px;
}

.mg-auto{
    margin-left: auto;
    margin-right: auto;
}

.pd-rodape{
    padding: 2.5rem 1.5rem;
}